__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
.venv*/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

.env
logs/*.log
logs/*.log.*

*.safetensors
*.tar
*.tar.gz
*.zip

.Trash-*/
